
/* link-url('../font-family: 'Open Sans', sans-serif;') */
/* heading section css */

.heading{
    background:#f4c7d1;
}
.header{
    display: flex;
}
.head-describe{
    margin-top: 300px;
    margin-right: 80px;
    margin-bottom: 80px;
    margin-left: 80px;
}
.header-image{
    margin-top: 30px;
    margin-right: 100px;
    margin-bottom: 0px;
    margin-left: 30px;
}
.head{
margin-right:15px;
margin-bottom: 10px;
padding: 5px, 5px, 0px, 0px ;
}
.heading-description{
    margin-bottom: 15px;
}
.primary-btn{
text-align: center;
background-color:#E55473;
}
.header-img{
    padding: 5px, 5px,0px,5px;
}
/* main-section */
.section{
    background-color: white;
    text-align: center;
}
.one{
    margin-top: 50px;
    text-align: center;
}
.head-one{
margin-bottom: 2px;
text-align:center ;


}
.describe-one{
    text-align: center;
    margin-bottom:10px ;

}
/* photo section */
.photo{
    display: flex;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}


.photo-1{
    background-color:#f4c7d1;
    margin-right: 20px;
}
.photo-2{
    background-color:#b7e0e2 ;
    margin-right: 20px;
}
.photo-3{
    background-color: #badd96;
    margin-right: 20px;
}
/* delivary section  */
.delivary{
    background-color: gray;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.delivary-type{
    display: flex;
}
/* deal section */
.deal{
    background-color: rgb(235, 191, 191);
    display: flex;
    margin-top: 30px;
}
.deal-section{
    padding-left: 20px;
}
.deal-head{
    padding-left: 20px;
}